@model LearnSignLanguageApp.Models.ProfileViewModel

<h2>Profile</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Stuff for profile pictures -->
        </div>
        <div class="col-md-9">
            
            <p><strong>Username:</strong> @Model.Username</p>
            <p><strong>Email:</strong> @Model.Email</p>
        </div>
    </div>
</div>